ul.edh-product-cats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  list-style: none;
  margin-left: 0;
  clear: both;
}
@media (min-width: 768px) {
  ul.edh-product-cats { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 992px) {
  ul.edh-product-cats { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1200px) {
  ul.edh-product-cats { grid-template-columns: repeat(4, 1fr); }
}
ul.edh-product-cats li {
  list-style: none;
  margin-left: 0;
  text-align: center;
  position: relative;
}
ul.edh-product-cats li img {
  margin: 0 auto;
}
